<!DOCTYPE html>
<html lang="en">

<head>
    <title>Visualize Attention</title>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <form>
        <textarea id="text" name="prompt"></textarea>
        <input type="submit" hx-post="/api/attention" hx-target="#attention-results" hx-swap="beforeend"></input>
    </form>
    <br />
    <h1>Results</h1>
    <div id="attention-results">
    </div>

    <script>
        function drawAttention(element) {
            const tokenElements = element.parentElement.parentElement.querySelectorAll('.token');
            const attn = JSON.parse(element.dataset.attn);

            tokenElements.forEach((tokenElement, idx) => {
                if (idx < attn.length) {
                    const hsla_value = 100 - Math.round(100 * 0.8 * attn[idx]);
                    const hsla_color = `hsla(214, 100%, ${hsla_value}%, 1.0)`;
                    tokenElement.style.backgroundColor = hsla_color;
                } else {
                    tokenElement.style.removeProperty('background-color');
                }
            });
        }

        function clearAttention() {
            const tokenElements = document.querySelectorAll('.token');
            tokenElements.forEach((tokenElement) => {
                tokenElement.style.removeProperty('background-color');
            })
        }
    </script>
</body>

</html>